input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;

}
#div1 {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-right: 500px;
  margin-left: 500px;
  background-color: #BDE6F1;
  border-radius: 20px;
  padding: 10px;

}
body {
  font-family: Copperplate, Papyrus, fantasy;
  background-color : #293462;
  
}

.loginimg {
  width: 90px;
}

.btn {
  background-color: #293462;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: #fff;
}